version: '3.2'
services:
  db:
    image: postgres:10
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: user1pw
      POSTGRES_DB: mydb
    volumes:
      - type: volume
        source: pgdata
        target: /var/lib/postgresql/data
volumes: 
  pgdata:
